.detail-main {
    width: 77rem;
    height: 87rem;
    margin: 0 auto;
    border-radius: 15px;
    border: solid black 0.3rem;
    background-color: #f3e4c8;
}
.detail-header {
    width: 100%;
    max-height: 18rem;
    height: 100%;
    border-radius: 15px;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-header .all-wrapper {
    max-height: 15rem;   
    height: 100%;
    display: inline-block;
    margin: 0 auto;
    overflow-x: auto;
    border-radius: inherit;
    white-space: nowrap;
    overflow-y: hidden;
}

.detail-header .all-wrapper img {
    object-fit: cover;
    width: 300px;
    height: 100%;
    border-radius: inherit;
    display: inline;
}

.detail-header .all-wrapper img:not(:last-child) {
    margin-right: 3rem;
}

.feedback {
    height: 10rem;
}
.feedback .feedback-header {
    display: flex;
    padding-top: 0.8rem;
    justify-content: center;
    gap: 0 16rem;
    font-size: small;
    font-weight: bold;
}

.feedback .feedback-header p:nth-child(2) {
    transform: translateX(-100%);
}

.feedback .feedback-header p:nth-child(3) {
    transform: translateX(-35%);
}

.feedback .feedback-info {
    background-color: #fff;
    display: flex;
    border: solid black 0.1rem;
    height: 7rem;
    width: 98%;
    margin: 0 auto;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    padding: 2rem 2rem 2rem 7rem;
}
.feedback .feedback-info .status-btn-onGoing {
    border-radius: 75px;
    color: #fff;
    background-color: #652aed;
    padding: 0.5rem 1.5rem;
    border: none;
    font-weight: 600;
}
.feedback .feedback-info .status-btn-pending {
    border-radius: 75px;
    color: #fff;
    background-color: #b3b62a;
    padding: 0.5rem 1.5rem;
    border: none;
    font-weight: 600;
}
.feedback .feedback-info .status-btn-done {
    border-radius: 75px;
    color: #fff;
    background-color: green;
    padding: 0.5rem 2.5rem;
    border: none;
    font-weight: 600;
}
.feedback .feedback-info .status-btn-decline {
    border-radius: 75px;
    color: #fff;
    background-color: #d43a3ae5;
    padding: 0.5rem 1.5rem;
    border: none;
    font-weight: 600;
}
.detail-items {
    background-color: #fff;
    height: 18rem;
    margin-left: 5rem;
    margin-right: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    border: solid black 0.1rem;
    position:relative;
}
.detail-items .detail-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    height:135px;
}
.detail-items .detail-wrapper .detail-info {
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    margin: 1rem;
}
.detail-items .detail-wrapper .detail-info .device {
    font-size: large;
    font-weight: bold;
    color: #dec5a2;
    text-transform: uppercase;
}
.detail-items .detail-wrapper .employee-name {
    margin: 1rem;
    font-size: small;
    line-height: 1.1;
    width: 24rem;
}

.detail-items .detail-wrapper .employee-name .employee-name-heading {
    display: flex;
    align-items: center;
    gap: 0 5px;
}

.detail-items.edit .detail-wrapper .employee-name .assign-wrapper {
    opacity: 1;
    visibility: visible;
}

.detail-items.edit .detail-wrapper .employee-name .employee-name-edit {
    text-decoration: line-through;
}

.detail-items.pending .detail-wrapper .employee-name .assign-wrapper {
    opacity: 1;
    visibility: visible;
}
.detail-items.pending .detail-wrapper .employee-name .employee-name-edit {
    display: none;
}

.detail-items .detail-wrapper .employee-name .employee-name-edit {
    display: inline-block;
    transition: all 0.2s ease;
    user-select: none;
    cursor: text;
}

.detail-items .detail-wrapper .employee-name .assign-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem 0;
    margin-top: 1rem;
    max-width: 85%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}
.detail-items .detail-wrapper .employee-name .assign-wrapper .icon-block {
    font-size: 1.8rem;
    margin-left: 1rem;
    border: none;
    outline: 0;
    background: transparent;
    cursor: pointer;
}
.detail-items .detail-wrapper .employee-name .assign-wrapper select {
    width: 25rem;
}

.detail-items .detail-wrapper .detail-links {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    font-size: 1.5rem;
}

.detail-items .detail-wrapper .detail-links ion-icon {
    color: #151111;
    transition: color 0.3s;
    display: none;
}

.detail-items .detail-wrapper .detail-links ion-icon:hover {
    color: #e71e1e;
}

.detail-items.pending .detail-wrapper .detail-links ion-icon{
    display: block;
}

.detail-items .description {
    display: flex;
    margin: 1rem;
    max-width: 62%;
}
.detail-items .description .content {
    height: 3.5rem;
    flex: 1;
    margin-left: 0.6rem;
    font-size: small;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    transform: translateY(-2px);
}
.detail-items .description .content:hover {
    overflow: auto;
}
.detail-items .description .des {
    font-weight: bold;
    font-size: small;
}
.detail-wrapper .all-wrapper{
    position: absolute;
    display: flex;
    height:110px;
    width:195px;
    right:7.7%;
    top:45%;
    overflow: auto;
    gap: 0 1.5rem;
}

.detail-wrapper .all-wrapper img{
    border-radius: 7px;
    object-fit: cover;
}

@media screen and (max-width: 769px) {
    .detail-main {
        width: 70rem;
    }

    .feedback .feedback-header p:first-child {
        transform: translateX(50%);
    }

    .feedback .feedback-header p:nth-child(2) {
        transform: translateX(-29%);
    }

    .feedback .feedback-header p:nth-child(3) {
        transform: translateX(-130%);
    }

    .feedback .feedback-header p:last-child {
        transform: translateX(-80%);
    }
}