.user-form {
    display: none;
}
.user-form .modal {
    display: flex;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.27);
}
.user-form-main {
    margin: auto;
    max-width: 480px;
    max-height: 520px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 5px 0;
    border-radius: 8px;
    animation: scale linear 0.3s;
}
.user-form-actual-form {
    padding: 20px;
}
.user-form-actual-form .actual-form-heading {
    position: relative;
}
.user-form-actual-form .actual-form-heading .avatar-wrap {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.user-form-actual-form .actual-form-heading .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-form-actual-form .actual-form-heading-image {
    font-size: 3rem;
    color: #151111;
    position: absolute;
    top: 0;
    left: 62%;
    transform: translateX(-50%);
    background-color: #d7d7d7;
    padding: 0.45rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user-form-actual-form .actual-form-heading-image:hover {
    background-color: #bdbdbd;
}
.user-form-actual-form .actual-form-content {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 2rem;
}
.user-form-actual-form .actual-form-content .input-wrap {
    position: relative;
    padding: 20px 0 0;
}
.user-form-actual-form .actual-form-content .input-wrap input,
.user-form-actual-form .actual-form-content .input-wrap select {
    font-family: "Poppins", sans-serif;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #a7a7a7;
    outline: 0;
    color: #151111;
    width: 100%;
}
.user-form-actual-form .actual-form-content .input-wrap input[readonly],
.user-form-actual-form .actual-form-content .input-wrap select[readonly] {
    background-color: #e6e6e6;
}
.user-form-actual-form .actual-form-content .input-wrap input::-webkit-input-placeholder,
.user-form-actual-form .actual-form-content .input-wrap select::-webkit-input-placeholder {
    color: #a7a7a7;
}
.user-form-actual-form .actual-form-content .input-wrap input::-moz-input-placeholder,
.user-form-actual-form .actual-form-content .input-wrap select::-moz-input-placeholder {
    color: #a7a7a7;
}
.user-form-actual-form .actual-form-content .input-wrap input:not([readonly]):focus,
.user-form-actual-form .actual-form-content .input-wrap select:not([readonly]):focus {
    outline: 1px solid #151111;
}
.user-form-actual-form .actual-form-content .input-wrap label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    color: #9c9c9c;
}
.user-form-actual-form .actual-form-content .input-wrap:not(:last-child) {
    margin-bottom: 2.5rem;
}
.user-form-actual-form .actual-form-footer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 20px;
}
.user-form-actual-form .actual-form-footer button {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: 0;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
.user-form-actual-form .actual-form-footer button.done {
    background-color: #73fa5d;
}
.user-form-actual-form .actual-form-footer button.decline {
    background-color: #d43a3ae5;
}
.user-form-actual-form .actual-form-footer ion-icon {
    font-size: 4rem;
}
.user-form.open {
    display: block;
}


@media screen and (max-width: 1600px) {
    .user-list {
        max-height: 510px;
        gap: 20px 30px;
    }

    .user-list .user-item {
        width: calc(25% - 22.5px);
    }
}

@media screen and (max-width: 1025px) {

    .content-item-main {
        height: calc(100% - 102px);
    }

    .showcase-user-category {
        width: 80%;
    }

    .user-list {
        max-height: 115rem;
        height: 100%;
        gap: 20px 30px;
    }

    .user-list .user-item {
        width: calc(calc(100% / 3) - 20px);
    }
}

@media screen and (max-width: 769px) {

    .showcase-user-category {
        width: 100%;
    }

    .user-list {
        max-height: 80rem;
    }

    .user-list .user-item {
        width: calc(50% - 15px);
    }
}
