@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes scale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.google-visualization-tooltip{
    z-index: 1000;
}
.showcase-content-item {
    padding: 0;
}
.showcase-content-item .statictis {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
}
.showcase-content-item .statictis-chart {
    padding: 2rem 5.5rem;
}
.showcase-content-item .statictis-chart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.showcase-content-item .statictis-chart-heading {
    color: #151111;
    font-size: 2.25rem;
    font-weight: 600;
}
.showcase-content-item .statictis-chart-form {
    display: flex;
    align-items: center;
    gap: 0 1rem;
}
.showcase-content-item .statictis-chart-form button {
    border: none;
    outline: 0;
    background-color: #f0e2cc;
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    color: #9c9c9c;
    cursor: pointer;
}
.showcase-content-item .statictis-chart-select {
    padding: 0.5rem 1rem;
    border: none;
    outline: 0;
    background-color: #f0e2cc;
    color: #bbb0b9;
    font-weight: 600;
}
.showcase-content-item .statictis-chart-actual-chart {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem 0;
    height: auto;
}
.showcase-content-item .statictis-chart-actual-chart-header {
    position: relative;
}
.showcase-content-item .statictis-chart-actual-chart-header #columnchart_div {
    border-radius: 6px;
    height: 400px;
    border-radius: 6px;
    overflow: hidden;
}
.showcase-content-item .statictis-chart-actual-chart-header label {
    position: absolute;
    top: 10px;
    left: 26px;
    font-size: 2rem;
    color: #151111;
    font-weight: 600;
    letter-spacing: 0.25rem;
}
.showcase-content-item .statictis-chart-actual-chart-bottom {
    /*height: calc(100% - 420px);*/
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 0 3rem;
}
.showcase-content-item .statictis-chart-actual-chart-bottom .donutchart-wrapper {
    width: 100%;
    height:328px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.showcase-content-item .statictis-chart-actual-chart-bottom .donutchart-wrapper #donutchart_div {
    width: 100%;
    height: 100%;
}
.showcase-content-item .statictis-chart-actual-chart-bottom .donutchart-wrapper .label-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.showcase-content-item .statictis-chart-actual-chart-bottom .donutchart-wrapper .label-wrapper label {
    color: #151111;
    font-size: 2rem;
    font-weight: 600;
}
.showcase-content-item .statictis-chart-actual-chart-bottom .donutchart-wrapper .label-wrapper label:first-child {
    font-size: 1.2rem;
    font-weight: 500;
    color: #a7a7a7;
}
.showcase-content-item .statictis-chart-actual-chart-bottom .donutchart-wrapper .donutchart-title {
    position: absolute;
    top: 15px;
    left: 26px;
    font-size: 2rem;
    font-weight: 600;
}
.showcase-content-item .statictis-chart-list {
    width: calc(100% - 3rem);
    background: #f0e2cc;
    height: 100%;
    padding: 1.5rem 2rem;
    border-radius: 6px;
}
.showcase-content-item .statictis-chart-list-heading {
    color: #151111;
    font-size: 2rem;
}
.showcase-content-item .statictis-chart-list-main {
    height: calc(100% - 4rem);
    margin-top: 2rem;
}
.showcase-content-item .statictis-chart-list-main-heading {
    padding: 0 2rem;
    background: #e4ceaa7e;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 2.5rem;
    font-size: 1.2rem;
}
.showcase-content-item .statictis-chart-list-main-heading-item:first-child {
    width: 60%;
}
.showcase-content-item .statictis-chart-list-main-heading-item:not(:first-child) {
    width: 20%;
}
.showcase-content-item .statictis-chart-list-main-list {
    height: calc(100% - 4.5rem);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}
.showcase-content-item .statictis-chart-list-main-item {
    padding: 0 2rem;
    display: flex;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.4rem;
}
.showcase-content-item .statictis-chart-list-main-item .item-image {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 0 20px;
}
.showcase-content-item .statictis-chart-list-main-item .item-image .image-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}
.showcase-content-item .statictis-chart-list-main-item .item-image .image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.showcase-content-item .statictis-chart-list-main-item .item-image p {
    flex: 1;
}
.showcase-content-item .statictis-chart-list-main-item p {
    width: 20%;
}

@media screen and (max-width: 1600px) {
    body {
        overflow: hidden;
    }
    .showcase-content-item .statictis-chart-actual-chart-header #columnchart_div {
        height: 300px;
    }
    .showcase-content-item .statictis-chart-actual-chart-bottom .donutchart-wrapper {
        height: 238px;
    }
    .showcase-content-item .statictis-chart-actual-chart-bottom .donutchart-wrapper .donutchart-title {
        font-size: 1.5rem;
    }
    .showcase-content-item .statictis-chart-list-heading {
        font-size: 1.5rem;
    }
    .showcase-content-item .statictis-chart-list-main {
        margin-top: 1.5rem;
    }
    .showcase-content-item .statictis-chart-list-main-list {
        gap: 2.5rem 0;
        margin-top: 1rem;
    }
    .showcase-content-item .statictis-chart-list-main-item .item-image .image-wrapper {
        width: 30px;
        height: 30px;
    }
}

.statictis-users {
    position: relative;
}

.statistic-user-header{
    align-items: center;
    gap: 0 25px;
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
}
.statistic-user-header label{
    outline:0;
    box-sizing: border-box;
    border-radius: 8px;
    width:55%;
    align-content: center;
    text-align: center;
    height:30%;
    font-size: 2.25rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    background:transparent;
    border:#f0e2cc;
    background-color: #f0e2cc;
}

.statistic-user-role{
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.statistic-user-role ul{
    list-style-type: none;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display:flex;
    padding:0 90px;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
}

.role-navigation.active{
    font-weight: 600;
    font-size: 1.6rem;
}

.role-navigation-bar{
    position: absolute;
    top: 100%;
    width: 80px;
    height: 3px;
    border-radius: 10px;
    display: block;
    background-color: #151111;
    opacity: 0.7;
    transition: all 0.4s linear;
}
.role-navigation-bar.student{
    left: 19.5%;
    width:81px;
}
.role-navigation-bar.employee{
    left: 58%;
    width:102px;
}

.statistic-user-title select{
    outline:0;
    box-sizing: border-box;
    border-radius: 8px;
    width:35%;
    align-content: center;
    text-align: center;
    height:30%;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    background-color: #f0e2cc;
    border:#f0e2cc;
}

.statistic-user-title{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin:20px;
}
.statistic-user-title select{
    align-items: center;
}
.statistic-user-title label{
    font-weight: 600;
    font-size:1.8rem;
}

.statistic-user-avatar{
    align-items: center;
    text-align: center;
    width: 90px;
    height: 90px;
    margin-left:auto;
    margin-right:auto;
    border-radius:100rem;
    overflow: hidden;
}

.statistic-user-avatar img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: revert;
}

.statistic-user-profile{
    text-align: center;
    align-items: center;
}

.user-name{
    align-items: center;
    margin-top:20px;
    text-transform: capitalize;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:2rem;
    line-height: 1.4;
}

.statistic-user-profile h2{
    font-size:1.7rem;
    font-weight: 400;
    margin-top: 10px;
}

.icon-profile-back,
.icon-profile-forward {
    font-size: 3.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    background-color: transparent;
    display: flex;
    transition: all 0.3s linear;
    cursor: pointer;
}

.icon-profile-forward {
    right: 0;
}

.icon-profile-back {
    left: 0;
}

.icon-profile-back ion-icon,
.icon-profile-forward ion-icon {
    margin: auto;
}
.icon-profile-forward {
    border-radius: 15px;
}
.icon-profile-back {
    border-radius: 15px;
}

.icon-profile-back:hover,.icon-profile-forward:hover{
    background-color: rgba(0,0,0,0.1);
}
.statistic-user-profile hr{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    border-radius: 10px;
    outline:0;
    border: 1px solid rgba(0,0,0,0.4);
}

.feedback-box{
    background:white;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius:8px;
    box-sizing: border-box;
    height: 10px;
}

.user-feedback-title{
    font-size: 1.7rem;
    margin:20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display:flex;
}
.viewall{
    float:right;
    font-size: 1.3rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
}
.viewall img{
    width:8px;
    height:8px;
    align-items: center;
    opacity: 0.5;
}
.viewall-button{
    background: none;
    border:0;
    cursor:pointer;
}
.statictis-users .pipe-item{
    width: 80%;
    margin-left: auto;
    margin-right:auto;
    height:55px;
    margin-top: 15px;
}

.unban-button{
    align-items: center;
    box-sizing: border-box;
    position:absolute;
    text-align: center;
    left:50%;
    transform: translateX(-50%);
}
.unban-button input{
    margin-left:auto;
    margin-right: auto;
    outline:0;
    cursor:pointer;
    margin-top: 100px;
    box-sizing: border-box;
    border-radius: 7px;
    width: 150px;
    height:40px;
    border:0;
    font-weight: 600;
    font-size: 2.5rem;
    color:white;
    background-color: orange;
}

.statistic-user-list{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.statistic-user-wrapper{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    opacity: 0;
    visibility: hidden;
    transform:scale(0.5);
    transition: all 0.25s ease-in-out;
}
.statistic-user-wrapper.active{
    opacity: 1;
    visibility: visible;
    transform:scale(1);
}

.statistic-behavior .user-behavior{
    list-style-type: none;
    overflow: hidden;
    float: right;
    font-size: 1.2rem;
    font-weight: 500;
}

.statistic-behavior .user-behavior hr{
    border-top: 2.5px solid black;
    border-radius: 8px;
}

.statistic-user-list .pipe-item-heading{
    align-items: center;
    display: flex;
}

.feedback-wrapper{
    width: 100%;
    height:210px;
    overflow: hidden;
}

.good-employee-show{
    display: none;
}
.good-employee-show.active{
    display:block;
}

.bad-employee-show{
    display: none;
}
.bad-employee-show.active{
    display:block;
}

.employee-list{
    display:none;
}
.employee-list.active{
    display: block;
}

.student-list{
    display:none;
}

.student-list.active{
    display: block;
}

.behavior-navigation.bad,.behavior-navigation.good{
    font-size:1.2rem;
    font-weight:500;
    text-align: right;
}

.behavior-navigation.good.active,.behavior-navigation.bad.active{
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.25s;
    text-align: right;

}


.user-behavior{
    display: none;
}

.user-behavior.active{
    display: block;
}
.viewall{
    display: none;
}


.icon-profile-back.profile-chevron-back,.icon-profile-forward.profile-chevron-forward{
    display: none;
}

.icon-profile-back.profile-chevron-back.goodemp.active,.icon-profile-forward.profile-chevron-forward.goodemp.active{
    display: block;
}
.icon-profile-back.profile-chevron-back.bademp.active,.icon-profile-forward.profile-chevron-forward.bademp.active{
    display: block;
}
.icon-profile-back.profile-chevron-back.baduser.active,.icon-profile-forward.profile-chevron-forward.baduser.active{
    display: block;
}

@media screen and (max-width: 1600px){

    .statistic-user-role ul {
        padding: 0 50px;
    }

    .role-navigation-bar.student {
        left: 13.5%;
    }

    .role-navigation-bar.employee {
        left: 57%;
        width: 99px;
    }

    .user-feedback-title {
        margin: 20px 40px;
    }

    .showcase-content-item .statictis-chart-actual-chart {
        height: 100%;
    }
}

@media screen and (max-width: 1025px){
    
    .showcase {
        padding: 20px;
    }
    
    .showcase-main {
        height: calc(100vh - 4rem);
    }
    
    .showcase-content-item .statictis{
        display: revert;
    }

    .showcase-content-item .statictis-chart {
        padding: 2rem 5.5rem;
    }

    .statictis-users {
        padding: 1rem 0;
        margin: 0 5.5rem;
        max-height: 62rem;
        height: 100%;
    }

    user-feedback-list {
        height: calc(100% - 149px);
    }

/*    .statistic-user-profile #status {
        display: none;
    }*/

    .statistic-user-title {
        margin: 20px;
    }

    .user-feedback-title {
        margin: 20px 40px;
    }

    .statistic-user-list {
        height: calc(100% - 149px);
    }

    .statistic-user-role ul {
        padding: 0 22.6rem;
    }

    .role-navigation-bar.student {
        left: 50%;
        transform: translateX(-191%);

    }

    .role-navigation-bar.employee {
        left: 58%;
    }

}

@media screen and (max-width: 769px){ 

    .showcase-content-item .statictis {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    
    .showcase {
        padding: 2rem 1rem;
    }

    .showcase-main {
        height: calc(100vh - 4rem);
    }

    .showcase-content-item .statictis-chart {
        padding: 2rem 2rem 1.5rem;
    }
    .showcase-content-item .statictis-chart-actual-chart-header #columnchart_div {
        height: 200px;
    }

    .showcase-content-item .statictis-chart-actual-chart-bottom {
        width: 100%;
    }

    .statictis-users {
        width: 93.5%;
        max-height: 41rem;
        height: 100%;
        margin: 0 auto;
        padding: 1rem 0;
    }
    
    .statistic-user-profile #status {
        display: block;
    }
    
    .statistic-user-role ul {
        padding: 0 17.6rem;
    }
    
    .role-navigation-bar.student {
        transform: translateX(-152%);
    }

    .showcase-content-item .statictis-chart-actual-chart {
        gap: 2rem 0;
    }

    .showcase-content-item .statictis-chart-actual-chart-bottom {
        gap: 0 2rem;
    }

    .showcase-content-item .statictis-chart-list {
        width: calc(100% - 2rem);
    }

    .showcase-content-item .statictis-chart-list-main-heading {
        font-size: 1rem;
    }

    .showcase-content-item .statictis-chart-list-main-list {
        gap: 2rem 0;
    }

    .showcase-content-item .statictis-chart-list-main-item {
        font-size: 1rem;
    }

    .user-feedback-list {
        /*        height: calc(100% - 169px);*/
        flex: 1;
    }

    .statistic-user-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .statistic-user-profile {
        max-height: 169px;
        max-width: 253px;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
    }

    .feedback-wrapper {
        height: calc(100% - 37px);
        width: 95%;
    }

    /*    .user-feedback-list {
            display: none;
        }*/
}




