/*@media screen and (max-width: 1025px) {
    .showcase-content-item {
        padding: 20px 30px;
    }
}*/

@media screen and (max-width: 769px) {
    .facility-content-main{
        height: calc(100% - 61px);
    }
    
    .content-item-main .content-item-main-list {
        height: calc(100% - 25px);
    }
}